body {
    background-color: whitesmoke
}

/*positioning for the map*/
.map-container {
    position: absolute;
    top: 62px;
    bottom: 0;
    left: 25px;
    width: 76.5%; /*reduce the width of the map*/
    height: 87%; /*reduce the height of the map*/
}

/*positioning of the legend*/
.legend {
    position: absolute;
    background-color: white;
    border-radius: 3px;
    bottom: 0px;
    top: 280px;
    margin-bottom: 13px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 15px;
    padding-top: 8px;
    padding-right: 33px;
    right: 5px;
}

.legend div span {
    display: inline-block;
    border-radius: 75%; /*round the edges of the legend points to make them circular*/
    height: 12px; /*height of circles in the legend*/
    width: 12px; /* Width of circles in the legend*/
    margin-right: 8px; /*spacing of the legend circles*/
}

.map-features-container {
    position: absolute;
    font: 16px/22px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: white;
    width: 250px;
    top: 56px;
    right: 5px;
    margin: 5px 0 0 5px; /* Add some spacing to the container sides */
    padding: 10px; /*Add some additional spacing to the  map features container*/
}

/*position the schools dropdown in the map features container*/
#nameset {
    position: relative;
    width: 100px;
    top: 0;
    left: 18px;
    margin: 5px 0 5px;
}

/* position the reset zoom button in the map features container*/
#reset-button  {
    position: relative;
    width: 100px;
    top: 0;
    left: 57px;
    margin: 5px 0 5px;
}
  
/*positioning and colour for the navbar*/
.top-bar{
    width: 100%;
    background: lightblue
}