body {
    background-color: whitesmoke
}

.map-container {
    position: absolute;
    top: 62px;
    bottom: 0;
    left: 25px;
    width: 76.5%;
    height: 87%;
}

.legend {
    position: absolute;
    background-color: white;
    border-radius: 3px;
    bottom: 0px;
    top: 300px;
    margin-bottom: 35px;
    font: 14px/22px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 25px;
    right: 5px;
}

.legend div span {
    display: inline-block;
    border-radius: 75%; /*round the edges of the legend points to make them circles*/
    height: 12px; /*height of legend circles*/
    width: 12px; /* Width of legend circles*/
    margin-right: 8px; /*spacing of the circles in the legend*/
}

.map-features-container {
    position: absolute;
    font: 16px/22px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: white;
    width: 250px;
    top: 56px;
    right: 5px;
    margin: 5px 0 0 5px; /* spacing of all margin sides of the container */
    padding: 10px; /*Add additional spacing around the container*/
}

#nameset {
    position: relative;
    width: 100px;
    top: 0;
    left: 18px;
    margin: 5px 0 5px;
}

/* positioning of the reset-button within the park-zoom-filter*/
#reset-button  {
    position: relative;
    width: 100px;
    top: 0;
    left: 57px;
    margin: 5px 0 5px;
}
  

#school-class  {
    position: relative;
    width: 150px;
    top: 50;
    left: 50px;
    margin: 5px 0 5px;
}

.top-bar{
    width: 100%;
    background: lightblue
}